
 @import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');


html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 90px auto auto 90px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    ". welcome-info welcome-info ."
    "footer footer footer footer";
  min-height: 95vh;
  row-gap: 5rem;
}

#logo {
  margin-left: 2rem; 
  align-self: center;
}

#logo img {
  max-width: 80px;
}

#logo:hover {
  opacity: .7;
  transition: .15s;
}

nav {
  height: 90px;
  background-color: rgb(69, 61, 56);
  position: sticky;
  top: 0;
  z-index: 100;
}

#menucheckbox~ul {
  gap: .3rem;
  margin-right: 1rem;
  display: flex;
}

#menucheckbox~ul li {
  opacity: 1;
  list-style-type: none;
}

#menucheckbox~ul li a {
  width: 8rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  gap: 10px;
  transition: .15s;
}
#menucheckbox~ul li:not(:last-child) {
  border-right: 1px solid whitesmoke;
}


#menucheckbox~ul li a:hover {
  opacity: .6;
  transition: .15s;
}

#menuicon {
  display: none;
  height: 40px;
  width: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#menuicon:hover {
  cursor: pointer;
}

#line1,
#line2,
#line3 {
  display: block;
  background-color: whitesmoke;
  height: 4px;
  border-radius: 10px;
  transition: transform .15s ease-in-out;
  transform-origin: left center;
}

#menucheckbox {
  display: none;
  transition: transform .15s ease-in-out;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

header {
  grid-area: header;
  background-image: url('../resources/img/pizzaoven-edited.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: rgb(90, 90, 90);
  background-blend-mode: soft-light;
  font-family: 'Dorsa', sans-serif;
  font-size: 5rem;
  color: rgb(223, 223, 223);
}

header h1 {
  border: 5px solid white;
  padding: 3rem
}

.welcome-info {
  grid-area: welcome-info;
  font-size: 1.4rem;
  gap: 2rem;
  margin: 0 2rem;
}

footer {
  grid-area: footer;
  background-color: aliceblue;
  height: 15rem;
  background-color: rgb(69, 61, 56);
  color: #f5f5f5;
  font-size: 1.4rem;
}

.socials {
  gap: 2rem;
}

.socials a {
  transition: .15s;
}

.socials a:hover {
  transition: .15s;
  opacity: .8;
}

.footer-info {
  text-align: start;
}

#adress {
  color: #f5f5f5;
}

/*Menu html*/

#menu-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto min-content;
  grid-template-areas: 
  "."
  "card-container"
  "footer";
  min-height: 97vh;
}

.text-center {
  text-align: center;
}

.grand-heading {
  font-size: 3rem;
}

.card-container {
  grid-area: card-container;
  margin: 3rem 0;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  position: relative;
  border: 1px solid black;
  height: 50rem;
  width: 30rem;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  transform: scale(1);
  transition: transform .15s;
  background-color: rgb(90, 90, 90);
  background-blend-mode: soft-light;
}

.card:hover {
  transform: scale(1.02);
  transition: transform .15s;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

#menu-info {
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

#menu-info p {
  padding: 0 2rem;
}

.card h1 {
  /* background-color: rgba(255, 255, 255, 0.5); */
  display: inline-block;
  border: 5px solid white;
  color: white;
  padding: 2rem;
}

#price1 {
  background-image: url('../resources/img/pizzademo.jpg');
  background-size: cover;
}

#price2 {
  background-image: url('../resources/img/pizza2.jpg');
  background-size: cover;
}

#price3 {
  background-image: url('../resources/img/pizza3.jpg');
  background-size: cover;
}

#vegetarian {
  background-image: url('../resources/img/pizza4.jpg');
  background-size: cover;
}


/*Order*/
#order-display-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;
  grid-template-areas: 
  "phone-info"
  "form-container"
  "footer";
  min-height: 93vh;
  text-align: center;
}

#phone-info {
  grid-area: phone-info;
  margin: 0 auto;
  font-size: 1.4rem;
}

#form-container {
  grid-area: form-container;
  align-items: center;
  font-size: 1.4rem;
}

#order-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-around;
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#order-form label {
  font-size: 1.4rem;
}

 #order-form input {
  margin: .5rem 0;
  font-size: 1.2rem;
} 

#select-take-away {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  height: 2rem;
}

#select-take-away option{
  font-size: 1rem;
}

#order-label-text {
  text-align: center;
  margin: 0 auto;
}

#order-text-area {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  max-width: 230px;
}

#order-submit-button {
  background-color: rgb(58, 24, 24);
  padding: 1rem;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 1.4rem;
  letter-spacing: .1rem;
  font-weight: 500;
  transition: .15s;
}
#order-submit-button:hover {
  opacity: .8;
  transition: .15s;
  cursor: pointer;
}

/*About*/
#about-display-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto min-content;
  grid-template-areas: 
  "."
  "about-story"
  "footer";
  min-height: 95vh;
  font-size: 1.4rem;
}

#about-story {
  grid-area: about-story;
  margin: 0 2rem;
  max-width: 50%;
}

#location-frame {
  width: 100%;
  max-width: 1800px;
  height: 450px;
}

/*Price class*/
.grid-container-priceclass {
  display: grid;
  grid-template-columns: min-content 2fr .25fr;
  grid-template-rows: auto min-content;
  grid-template-areas: 
  "localnav pizza-list ."
  "footer footer footer";
  min-height: 93vh;
}

.localnav {
  grid-area: localnav;
  height: min-content;
  z-index: 1;
  background-color: white;
  position: unset;
}

.localnav ul {
  text-align: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0 1rem;
}

.localnav ul li a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  padding: 1rem 2rem;
  background-color: rgb(215, 215, 215);
  border-radius: 10px;
  border: 1px solid black;
  transition: .15s;
}

.localnav ul li a:hover {
  opacity: .8;
  transition: .15s;
}

#return-arrow {
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
  width: 80%;
  transition: .15s;
}

#return-arrow:hover {
  opacity: .8;
  transition: .15s;
}

.pizza-list {
  grid-area: pizza-list;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3rem;
}

.pizza-list ol {
  font-size: 1.4rem;
}

.pizza-list dt {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.pizza-list dd {
  font-size: 1.2rem;
}

.ingredients {
  font-style: italic;
}

/*Media Query*/
@media screen and (max-width: 2100px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 870px) {


  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: 
    "header"
    "welcome-info"
    "footer";
  }

  .welcome-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header h1 {
    padding: 1rem;
    font-size: 7rem;
  }

  #menucheckbox~ul {
    transform: scaleY(0);
    height: 0;
    transition: transform .15s ease-in-out;
    transform-origin: top;

    top: 90px;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    background-color: rgb(86, 73, 65);
    /* background-color: rgba(86, 73, 65, 0.903); */
    padding: 0;
    margin: 0;
    /* opacity: .98; */
    width: 100vw;
  }

  #menucheckbox:checked~ul {
    display: flex;
    height: 100%;
    transform: scaleY(1);
    gap: 0;
  }

  #menucheckbox~ul li a {
    width: 100%;
    padding: 2rem 0;
    background-color: rgb(58, 24, 24);
    border-bottom: 1px solid white;
  }

  #menucheckbox:checked~#menuicon>#line1 {
    transform: rotate(45deg);
  }

  #menucheckbox:checked~#menuicon>#line2 {
    transform: scale(0);
  }

  #menucheckbox:checked~#menuicon>#line3 {
    transform: rotate(-45deg);
  }

  #menuicon {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 580px) {

  header {
    height: 40vh;
    background-size: cover;
  }

  #about-story {
    font-size: 1.2rem;
  }

  .card {
    width: 80%;
    height: 20rem;
  }

  .grid-container-priceclass {
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: 
    "localnav"
    "pizza-list"
    "footer";
  }

  .localnav {
    justify-content: center;
    align-items: center;
  }

  .localnav ul {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vh;
    gap: .4rem;
  }

  .localnav ul li {
    max-width: 20%;
    margin: 0;
    min-width: fit-content;
  }

  .localnav ul li a {
    font-size: 1rem;
    padding: .5rem 1.4rem;
    
  }

  .socials {
    flex-direction: column;
    justify-content: center;
    gap: .2rem;
  }

  .socials a img{
    max-width: 3rem;
  }
}

@media screen and (max-width: 360px) {
  #order-form {
    border: none;
    padding: 0;
  }



  .pizza-list {
    border: none;
  }

  #location-frame  {
    height: 200px;
  }
}