html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.grid-container {
  grid-template-columns: 2rem auto 20% 2rem;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
  "nav nav nav nav"
  "header header header header"
  ". main aside .";
}

#logo {
  max-height: 100px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: rgb(72, 72, 72);
  margin-left: 2rem;
}

#logo img {
  max-width: 80px;
}

#logo:hover {
  opacity: .7;
  transition: .2s;
}

nav {
  grid-area: nav;
  background-color: rgba(168, 82, 28, 0.712);
}

nav ul {
  list-style-type: none;
  gap: 1rem;
  margin-right: 1rem;
  justify-content: center;
}

nav ul li {
  background-color: brown;
  border-radius: 10px;
}

nav ul li a {
  width: 8rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
  display: block;
}

nav ul li a:hover {
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
  display: block;
  background-image: url('../resources/img/pizzaoven.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: grey;
  height: 700px;
  background-blend-mode: soft-light;
}

aside {
  grid-area: aside;
}

.card-container {
  margin-top: 20px;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  height: 50rem;
  width: 30rem;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
}

.card h1 {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  color: black;
}

.card a {
  width: 100%;
  height: 100%;
}

#price1 {
  background-image: url('../resources/img/pizzademo.jpg');
  background-size: cover;
}

#price2 {
  background-image: url('../resources/img/pizzademo.jpg');
  background-size: cover;
}

#price3 {
  background-image: url('../resources/img/pizzademo.jpg');
  background-size: cover;
}

#vegetarian {
  background-image: url('../resources/img/pizzademo.jpg');
  background-size: cover;
}

@media screen and (max-width: 870px){

  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "";
  }
  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    padding: 0;
    margin: 0;
    opacity: .98;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    width: 100%;
    padding: 2rem 0;
  }
}